/**
 * chrome-myFM
 *
 */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html,
body{
    height: 100%;
    overflow: hidden;
}
body{
    background: #FFF;
    color: #111;
    font:14px/1.5 Arial,Helvetica,STHeiti,sans-serif;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.hide{
  display: none;
}
[v-cloak]{
  display: none !important;
}

.fa{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.33em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* page-app */
.page-app .container{
    height: 240px;
    position: relative;
}

/* app-pic */
.app-pic{
    height: 100%;
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
}
.app-pic,
.app-pic i{
    background: #FFF url(img/disk.png) no-repeat 50% 50%;
    background-size: cover;
}
.app-pic a,
.app-pic i{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.app-pic i{
    position: absolute;
    left: 0;
    top: 0;
}

/* app-info */
.app-info{
    margin-left: 240px;
    padding: 24px 20px 0;
}
.app-info h1,
.app-info h2,
.app-info h3{
    font-weight: normal;
    line-height: 1.2;
    margin: 0 30px 0 0;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.app-info h1{
    color: #2AA751;
    font-size: 24px;
    margin-bottom: 10px;
}
.app-info h2{
    color: #666;
    font-size: 12px;
    margin-bottom: 8px;
}
.app-info h3{
    font-size: 14px;
}

/* info-progress */
.info-progress{
    padding: 30px 0 5px;
}
.info-progress input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.info-progress .progress-bar-x{
    -webkit-appearance: none;
}
/*.info-progress .progress-bar-x[type="range"]::-webkit-slider-runnable-track{
    background: #FFF;
    background: linear-gradient(to bottom, #AAA 0%, #CDCDCD 100%);
    border: 1px solid #747474;
    border-color: #747474 #939393 #AEAEAE;
    border-radius: 5px;
    height: 5px;
    position: relative;
    top: 6px;
}*/
.info-progress .timer{
    display: block;
    color: #414141;
    font-size: 12px;
    text-align: right;
}

/* app-btns */
.app-btns{
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.app-btns a{
    float: right;
    color: #414141;
    font-size: 25px;
    margin-left: 15px;
    padding: 5px 10px;
    width: 1em;
    vertical-align: top;
    text-align: right;
}
.app-btns a:hover{
    color: #111;
}
.app-btns a.actived{
    color: #F10621;
}
.app-btns a span{
    display: none;
}
.app-btns .next:before{
    content: "\f050";
}
.app-btns .play:before{
    content: "\f04b";
}
.app-btns .pause:before{
    content: "\f04c";
}
.app-btns .love:before{
    content: "\f004";
}
.app-btns .del:before{
    content: "\f014";
}

/* app-menus */
.app-menus{}
.app-menus .volume,
.app-menus .menus .toggle,
.app-menus .menus .mask{
    background: #FFF;
    border-radius: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .24);
    height: 24px;
    width: 24px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 48px;
    text-align: center;
    transition: all ease .2s;
}
.app-menus .volume:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    height: 80px;
}
.app-menus .volume .icon{
    display: block;
    cursor: pointer;
}
.app-menus .volume .icon:before,
.app-menus .menus .toggle:before{
    content: "\f027";
    color: #414141;
    font-size: 15px;
    line-height: 24px;
    vertical-align: top;
}
.app-menus .volume.muted .icon:before{
    content: "\f026";
}
.app-menus .volume input{
    height: 50px;
    width: 100%;
    vertical-align: top;
    -webkit-appearance: slider-vertical;
}
.app-menus .menus .toggle{
    background: none;
    box-shadow: none;
    color: #414141;
    top: 12px;
    z-index: 5;
}
.app-menus .menus .toggle:before{
    content: "\f078";
}
.app-menus .menus .toggle + .mask{
    content: "";
    top: 12px;
    z-index: 2;
    transform: translateZ(0);
}
.app-menus .menus .toggle:hover + .mask{
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    animation: mask 2s ease infinite;
}
.app-menus .menus .toggle span{
    display: none;
}
.app-menus .menus .inner{
    background: #FFF;
    box-sizing: border-box;
    margin-top: -20px;
    padding: 54px 56px 15px 15px;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all ease .36s;

}
/*
.app-menus .menus .mask{
    transition: all ease 1s;
}
.app-menus .menus.is-active .toggle{
    transform: rotate(180deg);
}
.app-menus .menus.is-active .mask,
.app-menus .menus.is-active .toggle:hover + .mask{
    transform: scale(45);
    animation: none;
}
*/
.app-menus .menus.is-active .inner{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

@keyframes mask{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

/* app-actions */
.app-actions{
    float: right;
    margin-top: -40px;
}
.app-actions span{
    display: inline-block;
    cursor: pointer;
    padding: .1em .5em;
    vertical-align: top;
}
.app-actions span:hover{
    color: #2AA751;
}


/* channel-list */
.channel-list::before{
    color: #999;
    content: "选择频道";
    font-size: 12px;
    margin: -36px 0 0;
    position: absolute;
}
.channel-list::after{
    display: table;
    clear: both;
    content: "";
    height: 0
}
.channel-list li{
    float: left;
    list-style: none;
    padding: 0 10px 10px 0;
}
.channel-list li span{
    display: inline-block;
    border: 1px solid #DDD;
    cursor: pointer;
    padding: 4px 10px;
    min-width: 3em;
    text-align: center;
    vertical-align: top;
}
.channel-list li span:hover,
.channel-list li span.current{
    border-color: #2AA751;
}
.channel-list li span.current{
    position: relative;
}
.channel-list li span{
    position: relative;
}
.channel-list .icon-check{
    display: none;
    border-color: transparent #2AA751 #2AA751 transparent;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.channel-list .icon-check:before{
    color: #FFF;
    content: "\f00c";
    font-size: 12px;
    margin: 0 -9px -9px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(.6);
}
.channel-list span.current .icon-check{
    display: block;
}



/* page-setting */
.page-setting body{
    overflow: auto;
}
.page-setting .container{
    margin-left: 120px;
    position: relative;
}
.page-setting h1,
.page-setting h2,
.page-setting h3{
    color: #5C6166;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.page-setting h1{
    margin: 21px 0 1em 23px;
}
.page-setting h3{
    font-size: 16px;
}
.page-setting nav{
    line-height: 1.2;
    position: fixed;
    left: 0;
    top: 0;
}
.page-setting nav ul{
    margin: 12px 0;
    list-style: none;
}
.page-setting nav li{
    vertical-align: top;
}
.page-setting nav a{
    display: block;
    border-left: 6px solid #FFF;
    color: #999;
    padding: 6px 0 6px 18px;
}
.page-setting nav a:hover{
    color: #666;
}
.page-setting nav a.selected{
    border-left-color: #464E5A;
    color: #464E5A;
}
.page-setting .main{
    padding-bottom: 15px;
    position: absolute;
    right: 20px;
    left: 0;
    top: 0;
}
.page-setting .main h2{
    border-bottom: 1px solid #EEE;
    color: #333;
    padding: 18px 0 13px;
}
.page-setting .inner{
    padding-top: 20px;
}
.page-setting .inner ul{
    list-style: none;
}
.page-setting .inner li{
    color: #999;
    padding: 7px 0;
}
.page-setting .inner a:not(.btn){
    color: #004ED7;
}
.page-setting .inner a:not(.btn):hover{
    color: #4C83E5;
}
.page-setting .inner li a,
.page-setting .inner li em{
    font-style: normal;
    margin-left: .7em;
}
.page-setting .inner li em{
    color: #333;
}
.page-setting .inner li a:first-child{
    margin-left: 0;
}
.page-setting .inner .intro{
    color: #666;
    margin: .4em 0;
}
.page-setting .group{
    margin-bottom: 2em;
}
.page-setting .info{
    margin: .8em 1em;
}
.page-setting .info .hotkeys input{
    border: 1px solid #AAA;
    border-radius: .3em;
    padding: .2em .5em;
    height: 1.8em;
    width: 80%;
}
.page-setting .icon-star:before{
    content: "\f005";
    font-size: .7em;
    margin-right: .2em;
}
.page-setting .btn,
.page-setting button{
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    cursor: pointer;
    font: inherit;
    margin: 0 1px 0 0;
    padding: 3px 15px;
    outline: none;
    text-shadow: 0 1px 0 #F0F0F0;
}
.page-setting .btn:hover,
.page-setting button:hover{
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: #000;
}
.main-transition{
    transition: transform .6s ease, opacity .6s ease .2s;
}
.main-enter,
.main-leave{
    opacity: 0;
    transform: translate(-40px, 0);
}
.main-leave{
    visibility: hidden;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff?v=4.1.0');
  font-weight: normal;
  font-style: normal;
}


/* input[type='range'] */
/*input[type='range']{
    -webkit-appearance: none;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #AAA 0%, #CDCDCD 100%);
    border-color: #747474 #747474 #AEAEAE #AEAEAE;
    box-shadow: inset 0 1px 1px #666;
    border-radius: 5px;
    margin: 5px 0;
    height: 5px;
}
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: content-box, linear-gradient(#FAFAFA, #E4E4E4);
    border: 1px solid #8A8A8A;
    border-radius: 50%;
    margin-top: -5px;
    height: 15px;
    width: 15px;
}
input[type='range']:active::-webkit-slider-thumb{
    background: #D7D7D7;
}*/


/*input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type='range'] {
    background: transparent;
    border: 4px solid transparent;
    border-width: 4px 0;
    border-radius: 0.25em;
    font: inherit;
    padding: 0;
    align-self: center;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    background: #EEE;
    border-radius: .25em;
    box-shadow: inset 0 1px 0.125em #BBB, 0 1px 1px #F7F7F7;
    width: 19.25em;
    height: 0.5em;
}
input[type='range']::-webkit-slider-thumb {
    margin-top: -0.3125em;
    box-sizing: border-box;
    width: 1.125em;
    height: 1.125em;
    border-radius: 50%;
    border: 1px solid #CCC;
    padding: .3125em;
    background: linear-gradient(#717171, #717171) content-box, linear-gradient(#FAFAFA, #E4E4E4);
}*/
