<!DOCTYPE html>
<html class="page-app">
<head>
    <meta charset="UTF-8">
    <title>myFM</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container" id="J_app">
        <div class="app-pic">
            <a
                target="_blank"
                href="http://music.douban.com{{player.music.album}}"
                v-show="player.music"
                v-cloak
            >
                <i
                    class="pic_1 hide"
                    v-if="player.music.pic_url"
                    v-bind:style="{backgroundImage:'url('+ player.music.pic_url +')'}"
                ></i>
            </a>
        </div>
        <div class="app-info">
            <div class="info-main" v-show="!player">
                <h1 class="name">Song name</h1>
                <h2 class="album">Album</h2>
                <h3 class="artists">Artists</h3>
            </div>
            <div class="info-main" v-cloak>
                <h1
                    class="name"
                    v-bind:title="player.music.title"
                >{{player.music.title || 'Song name'}}</h1>
                <h2
                    class="album"
                >{{player.music.albumtitle || 'Album'}}</h2>
                <h3
                    class="artists"
                >{{player.music.artist || 'Artists'}}</h3>
            </div>
            <div class="info-progress">
                <input
                    value="0"
                    type="range"
                    class="progress-bar"
                    v-show="!player"
                >
                <input
                    type="range"
                    class="progress-bar"
                    min="0"
                    step="1"
                    max="1000"
                    value="{{1000 * player.state.progress}}"
                    v-on:mousedown="lockProgressSync()"
                    v-on:mouseup="unlockProgressSync()"
                    v-on:change="setProgress($event)"
                    v-on:input="player.pause()"
                    v-cloak
                >
                <!-- <input type="range" class="progress-bar-x" min="0" max="100" value="0"> -->
                <span class="timer" v-show="player.status=='loading'">Loading...</span>
                <span class="timer" v-show="player.status!='loading'" v-cloak>{{player.state.played | musicTime}}</span>
            </div>
            <div class="app-btns">
                <a
                    href="#"
                    class="fa next"
                    v-on:click="player.next()"
                ><span>Next</span></a>
                <a
                    href="#"
                    class="fa play"
                    v-show="player.state.paused"
                    v-on:click="player.play()"
                ><span>Play</span></a>
                <a
                    href="#"
                    class="fa pause"
                    v-show="!player.state.paused"
                    v-on:click="player.pause()"
                    v-cloak
                ><span>Pause</span></a>
                <a
                    href="#"
                    class="fa love"
                ><span>Love</span></a>
                <a
                    href="#"
                    class="fa del"
                ><span>Block</span></a>
            </div>
        </div>
        <div class="app-menus">
            <div class="menus" v-bind:class="{'is-active':menuActived}">
                <a href="#" class="fa toggle" v-on:click="menuActived=!menuActived"><span>More</span></a>
                <div class="mask"></div>
                <div class="inner">
                    <div class="app-actions">
                        <span
                            role="button"
                            class="setting"
                            v-on:click="callAppCommand('setting')"
                        >设置</span>
                        <span
                            role="button"
                            class="about"
                            v-on:click="callAppCommand('about')"
                        >关于</span>
                    </div>
                    <div class="channel-list">
                        <ul>
                            <li v-for="item in player.list.channels">
                                <span
                                    role="button"
                                    v-bind:class="{'current':item==player.currChannel}"
                                    v-on:click="setChannel(item);"
                                >
                                    {{item.name}}
                                    <i class="fa icon-check"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div
                class="volume"
                v-bind:class="{muted: player.state.muted}"
                v-on:wheel="changeVolume($event)"
            >
                <i class="fa icon" v-on:click="player.mute()"></i>
                <input
                    type="range"
                    class="volume-bar"
                    min="0"
                    step="1"
                    max="100"
                    value="{{player.state.muted ? 0 : 100 * player.state.volume}}"
                    v-on:input="player.volume($event.target.value)"
                >
            </div>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/ds.js"></script>
    <script src="js/user.js"></script>
    <script src="js/list.js"></script>
    <script src="js/digger.js"></script>
    <script src="js/player.js"></script>
    <script src="js/main.js"></script>
</body>
</html>